@media (max-width: 1405px) {
  body {
    background-color: aqua;
  }
  .grid {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 10% 1fr 10%;
  }
  #hero-pic {
    grid-column: 1;
    grid-row: 2;
  }

  img {
  }
}
